openapi: 3.1.0
info:
  title: "OpenApi spec of organization: dev-mlmsul7huphxehi"
  version: 1.0.0
servers:
  - url: https://xxx.api.raw-labs.com
paths:
  /api/users/summary:
    get:
      tags:
        - aggregate
        - salesforce
        - summary
        - user
      summary: Salesforce User Summary.
      description: "Returns a summary of Salesforce users based on various filters\
        \ and grouping options, including total users, active users, and users created\
        \ within a specified date range."
      operationId: no_decl_94776
      parameters:
        - name: username
          in: query
          required: false
          schema:
            type: string
            description: the username of the Salesforce User. Substring search is supported.
        - name: group_by_field
          in: query
          required: false
          schema:
            type: string
            description: "the field to group the summary by (e.g., 'user_department',\
            \ 'user_is_active', 'user_role_id')."
        - name: user_role_id
          in: query
          required: false
          schema:
            type: string
            description: filter users by Role ID
        - name: user_created_date_period_start
          in: query
          required: false
          schema:
            type: string
            description: filter users created after this date. Format YYYY-MM-DD.
            format: date
          examples:
            example:
              value: 2001-08-22
        - name: user_email
          in: query
          required: false
          schema:
            type: string
            description: the email of the Salesforce User. Substring search is supported.
        - name: user_created_date_period_end
          in: query
          required: false
          schema:
            type: string
            description: filter users created before this date. Format YYYY-MM-DD.
            format: date
          examples:
            example:
              value: 2001-08-22
        - name: user_is_active
          in: query
          required: false
          schema:
            type: boolean
            description: filter users based on their active status (true/false)
        - name: user_department
          in: query
          required: false
          schema:
            type: string
            description: the department of the Salesforce User. Substring search is
              supported.
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    group_by_value:
                      type: string
                      description: Variable length character data.
                    total_users:
                      maximum: 9223372036854775807
                      minimum: -9223372036854775808
                      type: integer
                      description: A number of type long.
                      format: int64
                    active_users:
                      maximum: 9223372036854775807
                      minimum: -9223372036854775808
                      type: integer
                      description: A number of type long.
                      format: int64
                    users_created_in_date_range:
                      maximum: 9223372036854775807
                      minimum: -9223372036854775808
                      type: integer
                      description: A number of type long.
                      format: int64
        "202":
          description: Results not ready yet
          content:
            text/plain: {}
        "400":
          description: Bad request
          content:
            text/plain: {}
        "404":
          description: Not found
          content:
            text/plain: {}
        "500":
          description: Internal server error
          content:
            text/plain: {}
        "401":
          description: Unauthorized
          content:
            text/plain: {}
        "403":
          description: Forbidden
          content:
            text/plain: {}
      security:
        - api_key: []
  /api/contracts:
    get:
      tags:
        - contract
        - salesforce
      summary: "Get contracts by account name, end date (renewal date) and billing\
        \ address"
      description: "Retrieve contracts by account name, contract description, status,\
        \ contract terms, pricebook id, owner, start date, end date (renewal date)\
        \ and billing address. Permissible values for status can be found in endpoint\
        \ `/api/enumeration/contract_statuses`"
      operationId: no_decl_94777
      parameters:
        - name: start_date_range_start
          in: query
          required: false
          schema:
            type: string
            description: contract start date is greater than or equal to start_date_range_start.
              Format YYYY-MM-DD.
            format: date
          examples:
            example:
              value: 2001-08-22
        - name: special_terms
          in: query
          required: false
          schema:
            type: string
            description: filter contracts based on special terms. Substring search is
              supported.
        - name: contract_is_deleted
          in: query
          required: false
          schema:
            type: boolean
            description: contract deleted
        - name: city
          in: query
          required: false
          schema:
            type: string
            description: the billing address city of the contract
        - name: pricebook_2_id
          in: query
          required: false
          schema:
            type: string
            description: the Salesforce Pricebook ID associated with the contract
        - name: state
          in: query
          required: false
          schema:
            type: string
            description: the billing address state of the contract
        - name: page
          in: query
          required: false
          schema:
            maximum: 2147483647
            minimum: -2147483648
            type: integer
            description: the current page number to retrieve
            format: int32
        - name: owner_id
          in: query
          required: false
          schema:
            type: string
            description: the Salesforce User ID who owns the contract
        - name: start_date_range_end
          in: query
          required: false
          schema:
            type: string
            description: contract start date is lower than or equal to start_date_range_end.
              Format YYYY-MM-DD.
            format: date
          examples:
            example:
              value: 2001-08-22
        - name: page_size
          in: query
          required: false
          schema:
            maximum: 2147483647
            minimum: -2147483648
            type: integer
            description: the number of records per page
            format: int32
        - name: country
          in: query
          required: false
          schema:
            type: string
            description: the billing address country of the contract
        - name: end_date_range_start
          in: query
          required: false
          schema:
            type: string
            description: contract end date (renewal date) is greater than or equal to
              end_date_range_start. Format YYYY-MM-DD.
            format: date
          examples:
            example:
              value: 2001-08-22
        - name: account_id
          in: query
          required: false
          schema:
            type: string
            description: the id of the Salesforce Account
        - name: activated_by_id
          in: query
          required: false
          schema:
            type: string
            description: the Salesforce User ID who activated the contract
        - name: account_name
          in: query
          required: false
          schema:
            type: string
            description: the name of the Salesforce Account
        - name: end_date_range_end
          in: query
          required: false
          schema:
            type: string
            description: contract end date (renewal date) is lower than or equal to
              end_date_range_end. Format YYYY-MM-DD.
            format: date
          examples:
            example:
              value: 2001-08-22
        - name: postal_code
          in: query
          required: false
          schema:
            maximum: 2147483647
            minimum: -2147483648
            type: integer
            description: the billing address postal code of the contract
            format: int32
        - name: street
          in: query
          required: false
          schema:
            type: string
            description: the billing address street of the contract
        - name: contract_status
          in: query
          required: false
          schema:
            type: string
            description: the status of the contract - permissible values can be found
              in endpoint '/api/enumeration/contract_statuses'. If null then
              all statuses are included.
        - name: contract_term
          in: query
          required: false
          schema:
            maximum: 2147483647
            minimum: -2147483648
            type: integer
            description: the length of the contract in months
            format: int32
        - name: contract_description
          in: query
          required: false
          schema:
            type: string
            description: the description of the Salesforce Contract
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  required:
                    - billing_address
                  type: object
                  properties:
                    contract_id:
                      type: string
                      description: Variable length character data.
                    account_id:
                      type: string
                      description: Variable length character data.
                    contract_number:
                      type: string
                      description: Variable length character data.
                    contract_term:
                      maximum: 2147483647
                      minimum: -2147483648
                      type: integer
                      description: A number of type int.
                      format: int32
                    contract_end_date:
                      type: string
                      description: |-
                        Instant in time that includes the date and time of day without a time zone.
                        Example: 2001-08-22 03:04:05.321
                      format: date-time
                    owner_id:
                      type: string
                      description: Variable length character data.
                    start_date:
                      type: string
                      description: |-
                        Instant in time that includes the date and time of day without a time zone.
                        Example: 2001-08-22 03:04:05.321
                      format: date-time
                    activated_by_id:
                      type: string
                      description: Variable length character data.
                    activated_date:
                      type: string
                      description: |-
                        Instant in time that includes the date and time of day without a time zone.
                        Example: 2001-08-22 03:04:05.321
                      format: date-time
                    billing_address:
                      type: object
                      description: An object of any type.
                    company_signed_date:
                      type: string
                      description: |-
                        Instant in time that includes the date and time of day without a time zone.
                        Example: 2001-08-22 03:04:05.321
                      format: date-time
                    company_signed_id:
                      type: string
                      description: Variable length character data.
                    created_by_id:
                      type: string
                      description: Variable length character data.
                    created_date:
                      type: string
                      description: |-
                        Instant in time that includes the date and time of day without a time zone.
                        Example: 2001-08-22 03:04:05.321
                      format: date-time
                    customer_signed_date:
                      type: string
                      description: |-
                        Instant in time that includes the date and time of day without a time zone.
                        Example: 2001-08-22 03:04:05.321
                      format: date-time
                    customer_signed_id:
                      type: string
                      description: Variable length character data.
                    customer_signed_title:
                      type: string
                      description: Variable length character data.
                    description:
                      type: string
                      description: Variable length character data.
                    is_deleted:
                      type: boolean
                      description: Holds true or false boolean values.
                    last_activity_date:
                      type: string
                      description: |-
                        Instant in time that includes the date and time of day without a time zone.
                        Example: 2001-08-22 03:04:05.321
                      format: date-time
                    last_approved_date:
                      type: string
                      description: |-
                        Instant in time that includes the date and time of day without a time zone.
                        Example: 2001-08-22 03:04:05.321
                      format: date-time
                    last_modified_by_id:
                      type: string
                      description: Variable length character data.
                    last_modified_date:
                      type: string
                      description: |-
                        Instant in time that includes the date and time of day without a time zone.
                        Example: 2001-08-22 03:04:05.321
                      format: date-time
                    last_referenced_date:
                      type: string
                      description: |-
                        Instant in time that includes the date and time of day without a time zone.
                        Example: 2001-08-22 03:04:05.321
                      format: date-time
                    last_viewed_date:
                      type: string
                      description: |-
                        Instant in time that includes the date and time of day without a time zone.
                        Example: 2001-08-22 03:04:05.321
                      format: date-time
                    owner_expiration_notice:
                      type: string
                      description: Variable length character data.
                    pricebook_2_id:
                      type: string
                      description: Variable length character data.
                    special_terms:
                      type: string
                      description: Variable length character data.
                    system_modstamp:
                      type: string
                      description: |-
                        Instant in time that includes the date and time of day without a time zone.
                        Example: 2001-08-22 03:04:05.321
                      format: date-time
                    billing_street:
                      type: string
                      description: Variable length character data.
                    billing_city:
                      type: string
                      description: Variable length character data.
                    billing_state:
                      type: string
                      description: Variable length character data.
                    billing_postal_code:
                      type: string
                      description: Variable length character data.
                    billing_country:
                      type: string
                      description: Variable length character data.
                    billing_latitude:
                      type: number
                      description: A number of type double as per IEEE 754.
                      format: double
                    billing_longitude:
                      type: number
                      description: A number of type double as per IEEE 754.
                      format: double
                    billing_geocode_accuracy:
                      type: string
                      description: Variable length character data.
                    status_code:
                      type: string
                      description: Variable length character data.
                    account_name:
                      type: string
                      description: Variable length character data.
        "202":
          description: Results not ready yet
          content:
            text/plain: {}
        "400":
          description: Bad request
          content:
            text/plain: {}
        "404":
          description: Not found
          content:
            text/plain: {}
        "500":
          description: Internal server error
          content:
            text/plain: {}
        "401":
          description: Unauthorized
          content:
            text/plain: {}
        "403":
          description: Forbidden
          content:
            text/plain: {}
      security:
        - api_key: []
  /api/products/files:
    get:
      tags:
        - product-file
        - content
        - attachment
        - file
        - salesforce
        - product
      summary: Get Product attached files.
      description: Retrieves all files associated with a specific product ID.
      operationId: no_decl_94778
      parameters:
        - name: product_id
          in: query
          required: false
          schema:
            type: string
            description: the ID of the product
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: Variable length character data.
                    content_document_id:
                      type: string
                      description: Variable length character data.
                    is_latest:
                      type: boolean
                      description: Holds true or false boolean values.
                    content_url:
                      type: string
                      description: Variable length character data.
                    content_body_id:
                      type: string
                      description: Variable length character data.
                    version_number:
                      type: string
                      description: Variable length character data.
                    title:
                      type: string
                      description: Variable length character data.
                    description:
                      type: string
                      description: Variable length character data.
                    reason_for_change:
                      type: string
                      description: Variable length character data.
                    sharing_option:
                      type: string
                      description: Variable length character data.
                    sharing_privacy:
                      type: string
                      description: Variable length character data.
                    path_on_client:
                      type: string
                      description: Variable length character data.
                    rating_count:
                      maximum: 2147483647
                      minimum: -2147483648
                      type: integer
                      description: A number of type int.
                      format: int32
                    is_deleted:
                      type: boolean
                      description: Holds true or false boolean values.
                    content_modified_date:
                      type: string
                      description: |-
                        Instant in time that includes the date and time of day without a time zone.
                        Example: 2001-08-22 03:04:05.321
                      format: date-time
                    content_modified_by_id:
                      type: string
                      description: Variable length character data.
                    positive_rating_count:
                      maximum: 2147483647
                      minimum: -2147483648
                      type: integer
                      description: A number of type int.
                      format: int32
                    negative_rating_count:
                      maximum: 2147483647
                      minimum: -2147483648
                      type: integer
                      description: A number of type int.
                      format: int32
                    featured_content_boost:
                      maximum: 2147483647
                      minimum: -2147483648
                      type: integer
                      description: A number of type int.
                      format: int32
                    featured_content_date:
                      type: string
                      description: |-
                        Instant in time that includes the date and time of day without a time zone.
                        Example: 2001-08-22 03:04:05.321
                      format: date-time
                    owner_id:
                      type: string
                      description: Variable length character data.
                    created_by_id:
                      type: string
                      description: Variable length character data.
                    created_date:
                      type: string
                      description: |-
                        Instant in time that includes the date and time of day without a time zone.
                        Example: 2001-08-22 03:04:05.321
                      format: date-time
                    last_modified_by_id:
                      type: string
                      description: Variable length character data.
                    last_modified_date:
                      type: string
                      description: |-
                        Instant in time that includes the date and time of day without a time zone.
                        Example: 2001-08-22 03:04:05.321
                      format: date-time
                    system_modstamp:
                      type: string
                      description: |-
                        Instant in time that includes the date and time of day without a time zone.
                        Example: 2001-08-22 03:04:05.321
                      format: date-time
                    tag_csv:
                      type: string
                      description: Variable length character data.
                    file_type:
                      type: string
                      description: Variable length character data.
                    publish_status:
                      type: string
                      description: Variable length character data.
                    version_data:
                      type: string
                      description: Variable length character data.
                    content_size:
                      maximum: 2147483647
                      minimum: -2147483648
                      type: integer
                      description: A number of type int.
                      format: int32
                    file_extension:
                      type: string
                      description: Variable length character data.
                    first_publish_location_id:
                      type: string
                      description: Variable length character data.
                    origin:
                      type: string
                      description: Variable length character data.
                    content_location:
                      type: string
                      description: Variable length character data.
                    text_preview:
                      type: string
                      description: Variable length character data.
                    external_document_info_1:
                      type: string
                      description: Variable length character data.
                    external_document_info_2:
                      type: string
                      description: Variable length character data.
                    external_data_source_id:
                      type: string
                      description: Variable length character data.
                    checksum:
                      type: string
                      description: Variable length character data.
                    is_major_version:
                      type: boolean
                      description: Holds true or false boolean values.
                    is_asset_enabled:
                      type: boolean
                      description: Holds true or false boolean values.
                    version_data_url:
                      type: string
                      description: Variable length character data.
        "202":
          description: Results not ready yet
          content:
            text/plain: {}
        "400":
          description: Bad request
          content:
            text/plain: {}
        "404":
          description: Not found
          content:
            text/plain: {}
        "500":
          description: Internal server error
          content:
            text/plain: {}
        "401":
          description: Unauthorized
          content:
            text/plain: {}
        "403":
          description: Forbidden
          content:
            text/plain: {}
      security:
        - api_key: []
  /api/contacts:
    get:
      tags:
        - contact
        - salesforce
      summary: Retrieve Salesforce Contacts.
      description: "Retrieves Salesforce contacts with pagination and various filters\
        \ such as account name, contact name, contact email, and contact title."
      operationId: no_decl_94779
      parameters:
        - name: is_priority_record
          in: query
          required: false
          schema:
            type: boolean
            description: filter Salesforce contacts that are marked as priority (true/false).
        - name: contact_created_date_range_end
          in: query
          required: false
          schema:
            type: string
            description: contact creation date is lower than or equal to contact_created_date_range_end.
              Format YYYY-MM-DD.
            format: date
          examples:
            example:
              value: 2001-08-22
        - name: contact_mailing_country
          in: query
          required: false
          schema:
            type: string
            description: the mailing address country of the contact
        - name: contact_mailing_state
          in: query
          required: false
          schema:
            type: string
            description: the mailing address state of the contact
        - name: contact_owner_name
          in: query
          required: false
          schema:
            type: string
            description: the name of the Salesforce user who owns the contact. Substring
              search is supported.
        - name: contact_mailing_street
          in: query
          required: false
          schema:
            type: string
            description: the mailing address street of the contact
        - name: has_email_bounced
          in: query
          required: false
          schema:
            type: boolean
            description: filter Salesforce contacts where email has bounced (true/false).
        - name: page
          in: query
          required: false
          schema:
            maximum: 2147483647
            minimum: -2147483648
            type: integer
            description: the current page number to retrieve
            format: int32
        - name: contact_last_activity_date_range_start
          in: query
          required: false
          schema:
            type: string
            description: contacts's last activity date is greater than or equal to contact_last_activity_date_range_start.
              Format YYYY-MM-DD.
            format: date
          examples:
            example:
              value: 2001-08-22
        - name: page_size
          in: query
          required: false
          schema:
            maximum: 2147483647
            minimum: -2147483648
            type: integer
            description: the number of records per page
            format: int32
        - name: contact_mailing_postal_code
          in: query
          required: false
          schema:
            maximum: 2147483647
            minimum: -2147483648
            type: integer
            description: the mailing address postal code of the contact
            format: int32
        - name: contact_birthdate_range_end
          in: query
          required: false
          schema:
            type: string
            description: contact birthdate is lower than or equal to contact_birthdate_range_end.
              Format YYYY-MM-DD.
            format: date
          examples:
            example:
              value: 2001-08-22
        - name: contact_created_date_range_start
          in: query
          required: false
          schema:
            type: string
            description: contact creation date is greater than or equal to contact_created_date_range_start.
              Format YYYY-MM-DD.
            format: date
          examples:
            example:
              value: 2001-08-22
        - name: contact_last_activity_date_range_end
          in: query
          required: false
          schema:
            type: string
            description: contact's last activity date is lower than or equal to contact_last_activity_date_range_end.
              Format YYYY-MM-DD.
            format: date
          examples:
            example:
              value: 2001-08-22
        - name: contact_lead_source
          in: query
          required: false
          schema:
            type: string
            description: the source of the lead associated with the Salesforce Contact.
              Substring search is supported.
        - name: account_name
          in: query
          required: false
          schema:
            type: string
            description: the name of the Salesforce Account. Substring search is supported.
        - name: contact_birthdate_range_start
          in: query
          required: false
          schema:
            type: string
            description: contact birthdate is greater than or equal to contact_birthdate_range_start.
              Format YYYY-MM-DD.
            format: date
          examples:
            example:
              value: 2001-08-22
        - name: contact_mailing_city
          in: query
          required: false
          schema:
            type: string
            description: the mailing address city of the contact
        - name: contact_title
          in: query
          required: false
          schema:
            type: string
            description: the title of the Salesforce Contact. Substring search is supported.
        - name: contact_level
          in: query
          required: false
          schema:
            type: string
            description: the level associated with the Salesforce Contact.
        - name: contact_languages
          in: query
          required: false
          schema:
            type: string
            description: the languages spoken by the Salesforce Contact.
        - name: contact_name
          in: query
          required: false
          schema:
            type: string
            description: the name of the Salesforce Contact. Substring search is supported.
        - name: contact_email
          in: query
          required: false
          schema:
            type: string
            description: the email of the Salesforce Contact. Substring search is supported.
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    contact_id:
                      type: string
                      description: Variable length character data.
                    contact_name:
                      type: string
                      description: Variable length character data.
                    contact_account_id:
                      type: string
                      description: Variable length character data.
                    contact_email:
                      type: string
                      description: Variable length character data.
                    contact_lead_source:
                      type: string
                      description: Variable length character data.
                    contact_owner_id:
                      type: string
                      description: Variable length character data.
                    contact_title:
                      type: string
                      description: Variable length character data.
                    contact_assistant_name:
                      type: string
                      description: Variable length character data.
                    contact_assistant_phone:
                      type: string
                      description: Variable length character data.
                    contact_birthdate:
                      type: string
                      description: |-
                        Instant in time that includes the date and time of day without a time zone.
                        Example: 2001-08-22 03:04:05.321
                      format: date-time
                    contact_clean_status:
                      type: string
                      description: Variable length character data.
                    contact_created_by_id:
                      type: string
                      description: Variable length character data.
                    contact_created_date:
                      type: string
                      description: |-
                        Instant in time that includes the date and time of day without a time zone.
                        Example: 2001-08-22 03:04:05.321
                      format: date-time
                    contact_department:
                      type: string
                      description: Variable length character data.
                    contact_description:
                      type: string
                      description: Variable length character data.
                    contact_email_bounced_date:
                      type: string
                      description: |-
                        Instant in time that includes the date and time of day without a time zone.
                        Example: 2001-08-22 03:04:05.321
                      format: date-time
                    contact_email_bounced_reason:
                      type: string
                      description: Variable length character data.
                    contact_fax:
                      type: string
                      description: Variable length character data.
                    contact_home_phone:
                      type: string
                      description: Variable length character data.
                    contact_individual_id:
                      type: string
                      description: Variable length character data.
                    contact_is_deleted:
                      type: boolean
                      description: Holds true or false boolean values.
                    contact_is_email_bounced:
                      type: boolean
                      description: Holds true or false boolean values.
                    contact_jigsaw:
                      type: string
                      description: Variable length character data.
                    contact_jigsaw_contact_id:
                      type: string
                      description: Variable length character data.
                    contact_last_activity_date:
                      type: string
                      description: |-
                        Instant in time that includes the date and time of day without a time zone.
                        Example: 2001-08-22 03:04:05.321
                      format: date-time
                    contact_last_c_u_request_date:
                      type: string
                      description: |-
                        Instant in time that includes the date and time of day without a time zone.
                        Example: 2001-08-22 03:04:05.321
                      format: date-time
                    contact_last_c_u_update_date:
                      type: string
                      description: |-
                        Instant in time that includes the date and time of day without a time zone.
                        Example: 2001-08-22 03:04:05.321
                      format: date-time
                    contact_last_modified_by_id:
                      type: string
                      description: Variable length character data.
                    contact_last_modified_date:
                      type: string
                      description: |-
                        Instant in time that includes the date and time of day without a time zone.
                        Example: 2001-08-22 03:04:05.321
                      format: date-time
                    contact_last_referenced_date:
                      type: string
                      description: |-
                        Instant in time that includes the date and time of day without a time zone.
                        Example: 2001-08-22 03:04:05.321
                      format: date-time
                    contact_last_viewed_date:
                      type: string
                      description: |-
                        Instant in time that includes the date and time of day without a time zone.
                        Example: 2001-08-22 03:04:05.321
                      format: date-time
                    contact_master_record_id:
                      type: string
                      description: Variable length character data.
                    contact_mobile_phone:
                      type: string
                      description: Variable length character data.
                    contact_other_phone:
                      type: string
                      description: Variable length character data.
                    contact_phone:
                      type: string
                      description: Variable length character data.
                    contact_photo_url:
                      type: string
                      description: Variable length character data.
                    contact_reports_to_id:
                      type: string
                      description: Variable length character data.
                    contact_system_modstamp:
                      type: string
                      description: |-
                        Instant in time that includes the date and time of day without a time zone.
                        Example: 2001-08-22 03:04:05.321
                      format: date-time
                    contact_last_name:
                      type: string
                      description: Variable length character data.
                    contact_first_name:
                      type: string
                      description: Variable length character data.
                    contact_salutation:
                      type: string
                      description: Variable length character data.
                    contact_other_street:
                      type: string
                      description: Variable length character data.
                    contact_other_city:
                      type: string
                      description: Variable length character data.
                    contact_other_state:
                      type: string
                      description: Variable length character data.
                    contact_other_postal_code:
                      type: string
                      description: Variable length character data.
                    contact_other_country:
                      type: string
                      description: Variable length character data.
                    contact_other_latitude:
                      type: number
                      description: A number of type double as per IEEE 754.
                      format: double
                    contact_other_longitude:
                      type: number
                      description: A number of type double as per IEEE 754.
                      format: double
                    contact_other_geocode_accuracy:
                      type: string
                      description: Variable length character data.
                    contact_mailing_street:
                      type: string
                      description: Variable length character data.
                    contact_mailing_city:
                      type: string
                      description: Variable length character data.
                    contact_mailing_state:
                      type: string
                      description: Variable length character data.
                    contact_mailing_postal_code:
                      type: string
                      description: Variable length character data.
                    contact_mailing_country:
                      type: string
                      description: Variable length character data.
                    contact_mailing_latitude:
                      type: number
                      description: A number of type double as per IEEE 754.
                      format: double
                    contact_mailing_longitude:
                      type: number
                      description: A number of type double as per IEEE 754.
                      format: double
                    contact_mailing_geocode_accuracy:
                      type: string
                      description: Variable length character data.
                    contact_is_priority_record:
                      type: boolean
                      description: Holds true or false boolean values.
                    contact_Level__c:
                      type: string
                      description: Variable length character data.
                    contact_Languages__c:
                      type: string
                      description: Variable length character data.
                    account_name:
                      type: string
                      description: Variable length character data.
        "202":
          description: Results not ready yet
          content:
            text/plain: {}
        "400":
          description: Bad request
          content:
            text/plain: {}
        "404":
          description: Not found
          content:
            text/plain: {}
        "500":
          description: Internal server error
          content:
            text/plain: {}
        "401":
          description: Unauthorized
          content:
            text/plain: {}
        "403":
          description: Forbidden
          content:
            text/plain: {}
      security:
        - api_key: []
  /api/enumeration/task_subtypes:
    get:
      tags:
        - enumeration
        - list
        - salesforce
        - task-subtype
      summary: List of Task Subtypes.
      description: "Returns a list of Task Subtypes, such as \"Email\", \"Call\",\
        \ and \"Task\"."
      operationId: no_decl_94780
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                  description: Variable length character data.
        "202":
          description: Results not ready yet
          content:
            text/plain: {}
        "400":
          description: Bad request
          content:
            text/plain: {}
        "404":
          description: Not found
          content:
            text/plain: {}
        "500":
          description: Internal server error
          content:
            text/plain: {}
        "401":
          description: Unauthorized
          content:
            text/plain: {}
        "403":
          description: Forbidden
          content:
            text/plain: {}
      security:
        - api_key: []
  /api/enumeration/industries:
    get:
      tags:
        - lead
        - industry
        - account
        - salesforce
        - list
      summary: List of Salesforce Account or Lead Industries.
      description: This endpoint returns a list of industry names for Salesforce Accounts
        or Leads.
      operationId: no_decl_94781
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                  description: Variable length character data.
        "202":
          description: Results not ready yet
          content:
            text/plain: {}
        "400":
          description: Bad request
          content:
            text/plain: {}
        "404":
          description: Not found
          content:
            text/plain: {}
        "500":
          description: Internal server error
          content:
            text/plain: {}
        "401":
          description: Unauthorized
          content:
            text/plain: {}
        "403":
          description: Forbidden
          content:
            text/plain: {}
      security:
        - api_key: []
  /api/accounts/summary:
    get:
      tags:
        - account
        - aggregate
        - salesforce
        - summary
      summary: Summarize Salesforce Accounts.
      description: "Summarizes the total number of Salesforce accounts based on various\
        \ filters and groups them by a specified field. Permissible group by fields\
        \ are these - 'account_industry', 'account_type', 'account_billing_country',\
        \ 'account_rating', 'account_source'"
      operationId: no_decl_94782
      parameters:
        - name: account_is_deleted
          in: query
          required: false
          schema:
            type: boolean
            description: account deleted
        - name: account_billing_postal_code
          in: query
          required: false
          schema:
            maximum: 2147483647
            minimum: -2147483648
            type: integer
            description: the billing address postal code of the account
            format: int32
        - name: number_of_employees_range_start
          in: query
          required: false
          schema:
            maximum: 2147483647
            minimum: -2147483648
            type: integer
            description: Filter accounts with number of employees greater than or equal
              to this value.
            format: int32
        - name: account_created_date_range_start
          in: query
          required: false
          schema:
            type: string
            description: account creation date is greater than or equal to account_created_date_range_start.
              Format YYYY-MM-DD.
            format: date
          examples:
            example:
              value: 2001-08-22
        - name: group_by_field
          in: query
          required: false
          schema:
            type: string
            description: "the field to group the summary by (e.g., 'account_industry',\
            \ 'account_type', 'account_billing_country')."
        - name: clean_status
          in: query
          required: false
          schema:
            type: string
            description: "Filter by clean status of the account. Permissible values\
            \ are 'Clean', 'Pending'."
        - name: owner_id
          in: query
          required: false
          schema:
            type: string
            description: Filter by Salesforce User ID of the account owner.
        - name: annual_revenue_range_end
          in: query
          required: false
          schema:
            maximum: 9223372036854775807
            minimum: -9223372036854775808
            type: integer
            description: Filter accounts with annual revenue less than or equal to this
              value.
            format: int64
        - name: account_billing_street
          in: query
          required: false
          schema:
            type: string
            description: the billing address street of the account
        - name: number_of_employees_range_end
          in: query
          required: false
          schema:
            maximum: 2147483647
            minimum: -2147483648
            type: integer
            description: Filter accounts with number of employees less than or equal
              to this value.
            format: int32
        - name: account_type
          in: query
          required: false
          schema:
            type: string
            description: "comma-separated list of account types - permissible values\
            \ can be found in endpoint '/api/enumeration/account_types'.\
            \ If null, all account types are included."
        - name: account_industry
          in: query
          required: false
          schema:
            type: string
            description: "comma-separated list of account industries - permissible values\
            \ can be found in endpoint '/api/enumeration/industries'. If\
            \ null, all industries are included."
        - name: operating_hours_id
          in: query
          required: false
          schema:
            type: string
            description: Filter by operating hours ID of the account.
        - name: account_last_activity_date_range_end
          in: query
          required: false
          schema:
            type: string
            description: account's last activity date is lower than or equal to account_last_activity_date_range_end.
              Format YYYY-MM-DD.
            format: date
          examples:
            example:
              value: 2001-08-22
        - name: account_created_date_range_end
          in: query
          required: false
          schema:
            type: string
            description: account creation date is lower than or equal to account_created_date_range_end.
              Format YYYY-MM-DD.
            format: date
          examples:
            example:
              value: 2001-08-22
        - name: annual_revenue_range_start
          in: query
          required: false
          schema:
            maximum: 9223372036854775807
            minimum: -9223372036854775808
            type: integer
            description: Filter accounts with annual revenue greater than or equal to
              this value.
            format: int64
        - name: account_billing_state
          in: query
          required: false
          schema:
            type: string
            description: the billing address state of the account
        - name: account_name
          in: query
          required: false
          schema:
            type: string
            description: the name of the Salesforce Account
        - name: account_billing_country
          in: query
          required: false
          schema:
            type: string
            description: the billing address country of the account
        - name: account_source
          in: query
          required: false
          schema:
            type: string
            description: Filter by the source of the account.
        - name: account_rating
          in: query
          required: false
          schema:
            type: string
            description: "Filter by account rating - permissible values can be found\
            \ in endpoint '/api/enumeration/ratings'. If null, all account\
            \ ratings are included."
        - name: account_last_activity_date_range_start
          in: query
          required: false
          schema:
            type: string
            description: account's last activity date is greater than or equal to account_last_activity_date_range_start.
              Format YYYY-MM-DD.
            format: date
          examples:
            example:
              value: 2001-08-22
        - name: account_billing_city
          in: query
          required: false
          schema:
            type: string
            description: the billing address city of the account
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    group_by_value:
                      type: string
                      description: Variable length character data.
                    total_accounts:
                      maximum: 9223372036854775807
                      minimum: -9223372036854775808
                      type: integer
                      description: A number of type long.
                      format: int64
                    active_accounts:
                      maximum: 9223372036854775807
                      minimum: -9223372036854775808
                      type: integer
                      description: A number of type long.
                      format: int64
                    deleted_accounts:
                      maximum: 9223372036854775807
                      minimum: -9223372036854775808
                      type: integer
                      description: A number of type long.
                      format: int64
                    accounts_created_in_date_range:
                      maximum: 9223372036854775807
                      minimum: -9223372036854775808
                      type: integer
                      description: A number of type long.
                      format: int64
        "202":
          description: Results not ready yet
          content:
            text/plain: {}
        "400":
          description: Bad request
          content:
            text/plain: {}
        "404":
          description: Not found
          content:
            text/plain: {}
        "500":
          description: Internal server error
          content:
            text/plain: {}
        "401":
          description: Unauthorized
          content:
            text/plain: {}
        "403":
          description: Forbidden
          content:
            text/plain: {}
      security:
        - api_key: []
  /api/opportunities:
    get:
      tags:
        - opportunity
        - salesforce
      summary: Retrieve Salesforce Opportunities.
      description: "Retrieve opportunities based on optional filters like account\
        \ name, owner name, and stage from the Salesforce database. The list of permissible\
        \ values for opportunity_stage can be found in this endpoint `/api/enumeration/opportunity_stages`"
      operationId: no_decl_94783
      parameters:
        - name: is_won
          in: query
          required: false
          schema:
            type: boolean
            description: Filter by whether the opportunity is won (true or false).
        - name: state
          in: query
          required: false
          schema:
            type: string
            description: the state of the opportunity account
        - name: opportunity_last_activity_date_range_end
          in: query
          required: false
          schema:
            type: string
            description: opportunity's last activity date is lower than or equal to
              opportunity_last_activity_date_range_end. Format YYYY-MM-DD.
            format: date
          examples:
            example:
              value: 2001-08-22
        - name: opportunity_type
          in: query
          required: false
          schema:
            type: string
            description: the type of the opportunity.
        - name: opportunity_stage
          in: query
          required: false
          schema:
            type: string
            description: "comma-separated list of opportunity stages - permissible values\
            \ can be found in endpoint '/api/enumeration/opportunity_stages'.\
            \ If null, all stages are included."
        - name: page
          in: query
          required: false
          schema:
            maximum: 2147483647
            minimum: -2147483648
            type: integer
            description: the current page number to retrieve.
            format: int32
        - name: opportunity_created_date_range_end
          in: query
          required: false
          schema:
            type: string
            description: opportunity creation date is lower than or equal to opportunity_created_date_range_end.
              Format YYYY-MM-DD.
            format: date
          examples:
            example:
              value: 2001-08-22
        - name: opportunity_name
          in: query
          required: false
          schema:
            type: string
            description: the name of the opportunity. Substring search is supported.
        - name: opportunity_created_date_range_start
          in: query
          required: false
          schema:
            type: string
            description: opportunity creation date is greater than or equal to opportunity_created_date_range_start.
              Format YYYY-MM-DD.
            format: date
          examples:
            example:
              value: 2001-08-22
        - name: page_size
          in: query
          required: false
          schema:
            maximum: 2147483647
            minimum: -2147483648
            type: integer
            description: the number of records per page.
            format: int32
        - name: country
          in: query
          required: false
          schema:
            type: string
            description: the country of the opportunity account
        - name: owner_name
          in: query
          required: false
          schema:
            type: string
            description: the name of the owner (Salesforce user). Substring search is
              supported.
        - name: is_closed
          in: query
          required: false
          schema:
            type: boolean
            description: Filter by whether the opportunity is closed (true or false).
        - name: lead_source
          in: query
          required: false
          schema:
            type: string
            description: the lead source of the opportunity.
        - name: opportunity_last_activity_date_range_start
          in: query
          required: false
          schema:
            type: string
            description: opportunity's last activity date is greater than or equal to
              opportunity_last_activity_date_range_start. Format YYYY-MM-DD.
            format: date
          examples:
            example:
              value: 2001-08-22
        - name: account_name
          in: query
          required: false
          schema:
            type: string
            description: the name of the Salesforce Account. Substring search is supported.
        - name: postal_code
          in: query
          required: false
          schema:
            maximum: 2147483647
            minimum: -2147483648
            type: integer
            description: the postal code of the opportunity account
            format: int32
        - name: street
          in: query
          required: false
          schema:
            type: string
            description: the street of the opportunity account.
        - name: fiscal_year
          in: query
          required: false
          schema:
            maximum: 2147483647
            minimum: -2147483648
            type: integer
            description: Filter by fiscal year.
            format: int32
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  required:
                    - account_billing_address
                  type: object
                  properties:
                    opportunity_id:
                      type: string
                      description: Variable length character data.
                    opportunity_name:
                      type: string
                      description: Variable length character data.
                    opportunity_amount:
                      type: number
                      description: A number of type double as per IEEE 754.
                      format: double
                    opportunity_close_date:
                      type: string
                      description: |-
                        Instant in time that includes the date and time of day without a time zone.
                        Example: 2001-08-22 03:04:05.321
                      format: date-time
                    opportunity_stage_name:
                      type: string
                      description: Variable length character data.
                    opportunity_probability:
                      type: number
                      description: A number of type double as per IEEE 754.
                      format: double
                    opportunity_expected_revenue:
                      type: number
                      description: A number of type double as per IEEE 754.
                      format: double
                    opportunity_fiscal_quarter:
                      maximum: 2147483647
                      minimum: -2147483648
                      type: integer
                      description: A number of type int.
                      format: int32
                    opportunity_fiscal_year:
                      maximum: 2147483647
                      minimum: -2147483648
                      type: integer
                      description: A number of type int.
                      format: int32
                    opportunity_forecast_category:
                      type: string
                      description: Variable length character data.
                    opportunity_forecast_category_name:
                      type: string
                      description: Variable length character data.
                    opportunity_has_open_activity:
                      type: boolean
                      description: Holds true or false boolean values.
                    opportunity_has_opportunity_line_item:
                      type: boolean
                      description: Holds true or false boolean values.
                    opportunity_has_overdue_task:
                      type: boolean
                      description: Holds true or false boolean values.
                    opportunity_is_closed:
                      type: boolean
                      description: Holds true or false boolean values.
                    opportunity_is_deleted:
                      type: boolean
                      description: Holds true or false boolean values.
                    opportunity_is_private:
                      type: boolean
                      description: Holds true or false boolean values.
                    opportunity_is_won:
                      type: boolean
                      description: Holds true or false boolean values.
                    opportunity_last_activity_date:
                      type: string
                      description: |-
                        Instant in time that includes the date and time of day without a time zone.
                        Example: 2001-08-22 03:04:05.321
                      format: date-time
                    opportunity_lead_source:
                      type: string
                      description: Variable length character data.
                    opportunity_next_step:
                      type: string
                      description: Variable length character data.
                    opportunity_total_opportunity_quantity:
                      type: string
                      description: Variable length character data.
                    opportunity_type:
                      type: string
                      description: Variable length character data.
                    opportunity_last_stage_change_date:
                      type: string
                      description: |-
                        Instant in time that includes the date and time of day without a time zone.
                        Example: 2001-08-22 03:04:05.321
                      format: date-time
                    opportunity_push_count:
                      maximum: 2147483647
                      minimum: -2147483648
                      type: integer
                      description: A number of type int.
                      format: int32
                    opportunity_system_modstamp:
                      type: string
                      description: Variable length character data.
                    opportunity_created_date:
                      type: string
                      description: |-
                        Instant in time that includes the date and time of day without a time zone.
                        Example: 2001-08-22 03:04:05.321
                      format: date-time
                    opportunity_created_by_id:
                      type: string
                      description: Variable length character data.
                    opportunity_last_modified_date:
                      type: string
                      description: |-
                        Instant in time that includes the date and time of day without a time zone.
                        Example: 2001-08-22 03:04:05.321
                      format: date-time
                    opportunity_last_modified_by_id:
                      type: string
                      description: Variable length character data.
                    opportunity_description:
                      type: string
                      description: Variable length character data.
                    opportunity_pricebook_2_id:
                      type: string
                      description: Variable length character data.
                    opportunity_contact_id:
                      type: string
                      description: Variable length character data.
                    opportunity_DeliveryInstallationStatus__c:
                      type: string
                      description: Variable length character data.
                    opportunity_TrackingNumber__c:
                      type: string
                      description: Variable length character data.
                    opportunity_OrderNumber__c:
                      type: string
                      description: Variable length character data.
                    opportunity_CurrentGenerators__c:
                      type: string
                      description: Variable length character data.
                    opportunity_MainCompetitors__c:
                      type: string
                      description: Variable length character data.
                    account_name:
                      type: string
                      description: Variable length character data.
                    account_id:
                      type: string
                      description: Variable length character data.
                    owner_name:
                      type: string
                      description: Variable length character data.
                    owner_id:
                      type: string
                      description: Variable length character data.
                    account_billing_address:
                      type: object
                      description: An object of any type.
        "202":
          description: Results not ready yet
          content:
            text/plain: {}
        "400":
          description: Bad request
          content:
            text/plain: {}
        "404":
          description: Not found
          content:
            text/plain: {}
        "500":
          description: Internal server error
          content:
            text/plain: {}
        "401":
          description: Unauthorized
          content:
            text/plain: {}
        "403":
          description: Forbidden
          content:
            text/plain: {}
      security:
        - api_key: []
  /api/utilities/currentdatetime:
    get:
      tags:
        - timestamp
        - epoch
        - timezone
        - datetime
        - now
        - unix-time
        - date
        - epoch-time
        - time
        - current
      summary: Get current Date & Time.
      description: Retrieve current Date & Time along with timezone
      operationId: no_decl_94784
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                required:
                  - utc_datetime
                  - raw_offset
                  - day_of_year
                  - timezone
                  - abbreviation
                  - datetime
                  - dst
                  - utc_offset
                  - dst_offset
                  - client_ip
                  - unixtime
                  - day_of_week
                  - week_number
                type: object
                properties:
                  utc_offset:
                    type: string
                    description: Variable length character data.
                  timezone:
                    type: string
                    description: Variable length character data.
                  day_of_week:
                    maximum: 2147483647
                    minimum: -2147483648
                    type: integer
                    description: A number of type int.
                    format: int32
                  day_of_year:
                    maximum: 2147483647
                    minimum: -2147483648
                    type: integer
                    description: A number of type int.
                    format: int32
                  datetime:
                    type: string
                    description: Variable length character data.
                  utc_datetime:
                    type: string
                    description: Variable length character data.
                  unixtime:
                    maximum: 2147483647
                    minimum: -2147483648
                    type: integer
                    description: A number of type int.
                    format: int32
                  raw_offset:
                    maximum: 2147483647
                    minimum: -2147483648
                    type: integer
                    description: A number of type int.
                    format: int32
                  week_number:
                    maximum: 2147483647
                    minimum: -2147483648
                    type: integer
                    description: A number of type int.
                    format: int32
                  dst:
                    type: boolean
                    description: Holds true or false boolean values.
                  abbreviation:
                    type: string
                    description: Variable length character data.
                  dst_offset:
                    maximum: 2147483647
                    minimum: -2147483648
                    type: integer
                    description: A number of type int.
                    format: int32
                  dst_from:
                    type: object
                    description: An object of any type.
                  dst_until:
                    type: object
                    description: An object of any type.
                  client_ip:
                    type: string
                    description: Variable length character data.
        "202":
          description: Results not ready yet
          content:
            text/plain: {}
        "400":
          description: Bad request
          content:
            text/plain: {}
        "404":
          description: Not found
          content:
            text/plain: {}
        "500":
          description: Internal server error
          content:
            text/plain: {}
        "401":
          description: Unauthorized
          content:
            text/plain: {}
        "403":
          description: Forbidden
          content:
            text/plain: {}
      security:
        - api_key: []
  /api/enumeration/account_types:
    get:
      tags:
        - account-type
        - enumeration
        - account
        - salesforce
        - list
      summary: Get List of Account Types
      description: "Returns the closed list of account types, used in Salesforce Account\
        \ table."
      operationId: no_decl_94785
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                  description: Variable length character data.
        "202":
          description: Results not ready yet
          content:
            text/plain: {}
        "400":
          description: Bad request
          content:
            text/plain: {}
        "404":
          description: Not found
          content:
            text/plain: {}
        "500":
          description: Internal server error
          content:
            text/plain: {}
        "401":
          description: Unauthorized
          content:
            text/plain: {}
        "403":
          description: Forbidden
          content:
            text/plain: {}
      security:
        - api_key: []
  /api/opportunities/summary:
    get:
      tags:
        - aggregate
        - opportunity
        - salesforce
        - summary
      summary: Opportunity Summary by Field.
      description: Summarizes the total number of opportunities based on various filters
        and grouping options.
      operationId: no_decl_94786
      parameters:
        - name: state
          in: query
          required: false
          schema:
            type: string
            description: the state of the opportunity account
        - name: opportunity_last_activity_date_range_end
          in: query
          required: false
          schema:
            type: string
            description: opportunity's last activity date is lower than or equal to
              opportunity_last_activity_date_range_end. Format YYYY-MM-DD.
            format: date
          examples:
            example:
              value: 2001-08-22
        - name: group_by_field
          in: query
          required: false
          schema:
            type: string
            description: "the field to group the summary by (e.g., 'account_name', 'opportunity_stage',\
            \ 'country')."
        - name: opportunity_stage
          in: query
          required: false
          schema:
            type: string
            description: comma-separated list of opportunity stages - permissible values
              can be found in endpoint '/api/enumeration/opportunity_stages'.
              If null then all stages are included.
        - name: opportunity_created_date_range_end
          in: query
          required: false
          schema:
            type: string
            description: opportunity creation date is lower than or equal to opportunity_created_date_range_end.
              Format YYYY-MM-DD.
            format: date
          examples:
            example:
              value: 2001-08-22
        - name: opportunity_name
          in: query
          required: false
          schema:
            type: string
            description: the name of the opportunity. Substring search is supported.
        - name: opportunity_created_date_range_start
          in: query
          required: false
          schema:
            type: string
            description: opportunity creation date is greater than or equal to opportunity_created_date_range_start.
              Format YYYY-MM-DD.
            format: date
          examples:
            example:
              value: 2001-08-22
        - name: country
          in: query
          required: false
          schema:
            type: string
            description: the country of the opportunity account
        - name: owner_name
          in: query
          required: false
          schema:
            type: string
            description: the name of the owner (Salesforce user). Substring search is
              supported.
        - name: opportunity_last_activity_date_range_start
          in: query
          required: false
          schema:
            type: string
            description: opportunity's last activity date is greater than or equal to
              opportunity_last_activity_date_range_start. Format YYYY-MM-DD.
            format: date
          examples:
            example:
              value: 2001-08-22
        - name: account_name
          in: query
          required: false
          schema:
            type: string
            description: the name of the Salesforce Account. Substring search is supported.
        - name: postal_code
          in: query
          required: false
          schema:
            maximum: 2147483647
            minimum: -2147483648
            type: integer
            description: the postal code of the opportunity account
            format: int32
        - name: street
          in: query
          required: false
          schema:
            type: string
            description: the street of the opportunity account.
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    group_by_value:
                      type: string
                      description: Variable length character data.
                    total_opportunities:
                      maximum: 9223372036854775807
                      minimum: -9223372036854775808
                      type: integer
                      description: A number of type long.
                      format: int64
                    total_amount:
                      type: number
                      description: A number of type double as per IEEE 754.
                      format: double
                    avg_probability:
                      type: number
                      description: A number of type double as per IEEE 754.
                      format: double
                    closed_opportunities:
                      maximum: 9223372036854775807
                      minimum: -9223372036854775808
                      type: integer
                      description: A number of type long.
                      format: int64
                    opportunities_created_in_date_range:
                      maximum: 9223372036854775807
                      minimum: -9223372036854775808
                      type: integer
                      description: A number of type long.
                      format: int64
        "202":
          description: Results not ready yet
          content:
            text/plain: {}
        "400":
          description: Bad request
          content:
            text/plain: {}
        "404":
          description: Not found
          content:
            text/plain: {}
        "500":
          description: Internal server error
          content:
            text/plain: {}
        "401":
          description: Unauthorized
          content:
            text/plain: {}
        "403":
          description: Forbidden
          content:
            text/plain: {}
      security:
        - api_key: []
  /api/accounts:
    get:
      tags:
        - account
        - salesforce
      summary: Retrieve Salesforce Accounts.
      description: "Retrieves Salesforce accounts with pagination and supports various\
        \ filters like account industry, account type, and account billing country."
      operationId: no_decl_94787
      parameters:
        - name: account_is_deleted
          in: query
          required: false
          schema:
            type: boolean
            description: account deleted
        - name: account_billing_postal_code
          in: query
          required: false
          schema:
            maximum: 2147483647
            minimum: -2147483648
            type: integer
            description: the billing address postal code of the account
            format: int32
        - name: number_of_employees_range_start
          in: query
          required: false
          schema:
            maximum: 2147483647
            minimum: -2147483648
            type: integer
            description: Filter accounts with number of employees greater than or equal
              to this value.
            format: int32
        - name: account_created_date_range_start
          in: query
          required: false
          schema:
            type: string
            description: account creation date is greater than or equal to account_created_date_range_start.
              Format YYYY-MM-DD.
            format: date
          examples:
            example:
              value: 2001-08-22
        - name: clean_status
          in: query
          required: false
          schema:
            type: string
            description: "Filter by clean status of the account. Permissible values\
            \ are 'Clean', 'Pending'."
        - name: page
          in: query
          required: false
          schema:
            maximum: 2147483647
            minimum: -2147483648
            type: integer
            description: the current page number to retrieve
            format: int32
        - name: owner_id
          in: query
          required: false
          schema:
            type: string
            description: Filter by Salesforce User ID of the account owner.
        - name: annual_revenue_range_end
          in: query
          required: false
          schema:
            maximum: 9223372036854775807
            minimum: -9223372036854775808
            type: integer
            description: Filter accounts with annual revenue less than or equal to this
              value.
            format: int64
        - name: account_billing_street
          in: query
          required: false
          schema:
            type: string
            description: the billing address street of the account
        - name: page_size
          in: query
          required: false
          schema:
            maximum: 2147483647
            minimum: -2147483648
            type: integer
            description: the number of records per page. Default value is 25.
            format: int32
        - name: number_of_employees_range_end
          in: query
          required: false
          schema:
            maximum: 2147483647
            minimum: -2147483648
            type: integer
            description: Filter accounts with number of employees less than or equal
              to this value.
            format: int32
        - name: account_type
          in: query
          required: false
          schema:
            type: string
            description: "comma-separated list of account types - permissible values\
            \ can be found in endpoint '/api/enumeration/account_types'.\
            \ If null, all account types are included."
        - name: account_industry
          in: query
          required: false
          schema:
            type: string
            description: "comma-separated list of account industries - permissible values\
            \ can be found in endpoint '/api/enumeration/industries'. If\
            \ null, all industries are included."
        - name: operating_hours_id
          in: query
          required: false
          schema:
            type: string
            description: Filter by operating hours ID of the account.
        - name: account_last_activity_date_range_end
          in: query
          required: false
          schema:
            type: string
            description: account's last activity date is lower than or equal to account_last_activity_date_range_end.
              Format YYYY-MM-DD.
            format: date
          examples:
            example:
              value: 2001-08-22
        - name: account_created_date_range_end
          in: query
          required: false
          schema:
            type: string
            description: account creation date is lower than or equal to account_created_date_range_end.
              Format YYYY-MM-DD.
            format: date
          examples:
            example:
              value: 2001-08-22
        - name: annual_revenue_range_start
          in: query
          required: false
          schema:
            maximum: 9223372036854775807
            minimum: -9223372036854775808
            type: integer
            description: Filter accounts with annual revenue greater than or equal to
              this value.
            format: int64
        - name: account_billing_state
          in: query
          required: false
          schema:
            type: string
            description: the billing address state of the account
        - name: account_name
          in: query
          required: false
          schema:
            type: string
            description: the name of the Salesforce Account
        - name: account_billing_country
          in: query
          required: false
          schema:
            type: string
            description: the billing address country of the account
        - name: account_source
          in: query
          required: false
          schema:
            type: string
            description: Filter by the source of the account.
        - name: account_rating
          in: query
          required: false
          schema:
            type: string
            description: "Filter by account rating - permissible values can be found\
            \ in endpoint '/api/enumeration/ratings'. If null, all account\
            \ ratings are included."
        - name: account_last_activity_date_range_start
          in: query
          required: false
          schema:
            type: string
            description: account's last activity date is greater than or equal to account_last_activity_date_range_start.
              Format YYYY-MM-DD.
            format: date
          examples:
            example:
              value: 2001-08-22
        - name: account_billing_city
          in: query
          required: false
          schema:
            type: string
            description: the billing address city of the account
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  required:
                    - account_billing_address
                    - account_shipping_address
                  type: object
                  properties:
                    account_id:
                      type: string
                      description: Variable length character data.
                    account_is_deleted:
                      type: boolean
                      description: Holds true or false boolean values.
                    account_master_record_id:
                      type: string
                      description: Variable length character data.
                    account_name:
                      type: string
                      description: Variable length character data.
                    account_type:
                      type: string
                      description: Variable length character data.
                    account_parent_id:
                      type: string
                      description: Variable length character data.
                    account_billing_street:
                      type: string
                      description: Variable length character data.
                    account_billing_city:
                      type: string
                      description: Variable length character data.
                    account_billing_state:
                      type: string
                      description: Variable length character data.
                    account_billing_postal_code:
                      type: string
                      description: Variable length character data.
                    account_billing_country:
                      type: string
                      description: Variable length character data.
                    account_billing_latitude:
                      type: number
                      description: A number of type double as per IEEE 754.
                      format: double
                    account_billing_longitude:
                      type: number
                      description: A number of type double as per IEEE 754.
                      format: double
                    account_billing_geocode_accuracy:
                      type: string
                      description: Variable length character data.
                    account_billing_address:
                      type: object
                      description: An object of any type.
                    account_shipping_street:
                      type: string
                      description: Variable length character data.
                    account_shipping_city:
                      type: string
                      description: Variable length character data.
                    account_shipping_state:
                      type: string
                      description: Variable length character data.
                    account_shipping_postal_code:
                      type: string
                      description: Variable length character data.
                    account_shipping_country:
                      type: string
                      description: Variable length character data.
                    account_shipping_latitude:
                      type: number
                      description: A number of type double as per IEEE 754.
                      format: double
                    account_shipping_longitude:
                      type: number
                      description: A number of type double as per IEEE 754.
                      format: double
                    account_shipping_geocode_accuracy:
                      type: string
                      description: Variable length character data.
                    account_shipping_address:
                      type: object
                      description: An object of any type.
                    account_phone:
                      type: string
                      description: Variable length character data.
                    account_fax:
                      type: string
                      description: Variable length character data.
                    account_account_number:
                      type: string
                      description: Variable length character data.
                    account_website:
                      type: string
                      description: Variable length character data.
                    account_photo_url:
                      type: string
                      description: Variable length character data.
                    account_sic:
                      type: string
                      description: Variable length character data.
                    account_industry:
                      type: string
                      description: Variable length character data.
                    account_annual_revenue:
                      type: number
                      description: A number of type double as per IEEE 754.
                      format: double
                    account_number_of_employees:
                      type: number
                      description: A number of type double as per IEEE 754.
                      format: double
                    account_ownership:
                      type: string
                      description: Variable length character data.
                    account_ticker_symbol:
                      type: string
                      description: Variable length character data.
                    account_description:
                      type: string
                      description: Variable length character data.
                    account_rating:
                      type: string
                      description: Variable length character data.
                    account_site:
                      type: string
                      description: Variable length character data.
                    account_owner_id:
                      type: string
                      description: Variable length character data.
                    account_created_date:
                      type: string
                      description: |-
                        Instant in time that includes the date and time of day without a time zone.
                        Example: 2001-08-22 03:04:05.321
                      format: date-time
                    account_created_by_id:
                      type: string
                      description: Variable length character data.
                    account_last_modified_date:
                      type: string
                      description: |-
                        Instant in time that includes the date and time of day without a time zone.
                        Example: 2001-08-22 03:04:05.321
                      format: date-time
                    account_last_modified_by_id:
                      type: string
                      description: Variable length character data.
                    account_system_modstamp:
                      type: string
                      description: |-
                        Instant in time that includes the date and time of day without a time zone.
                        Example: 2001-08-22 03:04:05.321
                      format: date-time
                    account_last_activity_date:
                      type: string
                      description: |-
                        Calendar date (year, month, day).
                        Example: 2001-08-22
                      format: date
                    account_last_viewed_date:
                      type: string
                      description: |-
                        Instant in time that includes the date and time of day without a time zone.
                        Example: 2001-08-22 03:04:05.321
                      format: date-time
                    account_last_referenced_date:
                      type: string
                      description: |-
                        Instant in time that includes the date and time of day without a time zone.
                        Example: 2001-08-22 03:04:05.321
                      format: date-time
                    account_jigsaw:
                      type: string
                      description: Variable length character data.
                    account_jigsaw_company_id:
                      type: string
                      description: Variable length character data.
                    account_clean_status:
                      type: string
                      description: Variable length character data.
                    account_account_source:
                      type: string
                      description: Variable length character data.
                    account_duns_number:
                      type: string
                      description: Variable length character data.
                    account_tradestyle:
                      type: string
                      description: Variable length character data.
                    account_naics_code:
                      type: string
                      description: Variable length character data.
                    account_naics_desc:
                      type: string
                      description: Variable length character data.
                    account_year_started:
                      type: string
                      description: Variable length character data.
                    account_sic_desc:
                      type: string
                      description: Variable length character data.
                    account_dandb_company_id:
                      type: string
                      description: Variable length character data.
                    account_operating_hours_id:
                      type: string
                      description: Variable length character data.
        "202":
          description: Results not ready yet
          content:
            text/plain: {}
        "400":
          description: Bad request
          content:
            text/plain: {}
        "404":
          description: Not found
          content:
[...]
